$accent: #db3838;
/* Styles */
.ytscript {

    &-slider {
        position: absolute;
        left: 24px;
        margin: 0;
        height: 4px;
        width: 125px;
        background: rgba(#fff, 0.2);
        border-radius: 15px;
        top: 50%;
        margin-top: -3px;
        
        .ui-slider-range-min {
            height: 4px;
            width: 125px;
            position: absolute;
            background: $accent;
            border: none;
            border-radius: 10px;
            outline: none;
        }
        
        .ui-slider-handle {
            width: 10px;
            height: 10px;
            border-radius: 20px;
            background: #FFF;
            position: absolute;
            margin-left: -8px;
            margin-top: -3px;
            cursor: pointer;
            outline: none;
        }

        &-fullscreen {
            margin-top: -4px;
            height: 8px;

            .ui-slider-range-min {
                height: 8px;
            }

            .ui-slider-handle {
                width: 18px;
                height: 18px;
                margin-top: -6px;
            }
        }

        &-container {
            width: 145px;
            height: 100%;
            display: inline-block;
            position: relative;
            margin: 0 auto;
            //top: 80px;
        }
    }
}