$mainColor: #e20000;
$backgroundColor: #ffffff;
$darkBackgroundColor: #121212;
$borderColor: #dcdcdc;
$componentContentColor: #f5f5f5;
$darkComponentContentColor: #f5f5f5;
$inactiveButtonColor: #909090;
$activeButtonColor: $mainColor;
$darkActiveButtonColor: #3EA6FF;
$titleBackground: #424242;
$gray: #8f8f8f;
$dark: #464646;
$border: 1px solid;

$buttonBorderRadiusSize: 2px;
$panelItemGap: 5px;

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
  
html {
    --ytscript-main: var(--yt-spec-brand-subscribe-button-background, #{$mainColor});
    --ytscript-background: var(--yt-main-app-background, #{$backgroundColor});
    --ytscript-show-content: var(--ytscript-main);
    --ytscript-component-title: var(--ytscript-main);
    --ytscript-component-title-background: #{$titleBackground};
    --ytscript-component-content: var(--yt-playlist-background-item, #{$componentContentColor});
    --ytscript-component-button-inactive: var(--yt-spec-icon-inactive, #{$inactiveButtonColor});
    --ytscript-component-button-active: #{$activeButtonColor};
    --ytscript-slider: var(--ytscript-main);
    --ytscript-slider-handle: #{$dark};
    --ytscript-input: var(--yt-searchbox-text-color, #{$darkBackgroundColor});
    --ytscript-component-slider: var(--ytscript-main);
    --ytscript-border: var(--yt-spec-10-percent-layer, #{$borderColor});
}

html[dark] {
    --ytscript-main: var(--yt-spec-brand-subscribe-button-background, #{$mainColor});
    --ytscript-background: var(--yt-main-app-background, #{$darkBackgroundColor});
    --ytscript-show-content: #{$gray};
    --ytscript-component-title: var(--ytscript-main);
    --ytscript-component-title-background: var(--yt-playlist-background-header, #{$titleBackground});
    --ytscript-component-content: var(--yt-playlist-background-item, #{$darkComponentContentColor});
    --ytscript-component-button-inactive: var(--yt-spec-icon-inactive, #{$inactiveButtonColor});
    --ytscript-component-button-active: var(--yt-spec-icon-active-button-link, #{$darkActiveButtonColor});
    --ytscript-slider: var(--ytscript-main);
    --ytscript-slider-handle: #ffffff;
    --ytscript-input: var(--yt-searchbox-text-color, #{$backgroundColor});
    --ytscript-component-slider: var(--ytscript-component-button-active);
    --ytscript-border: var(--yt-spec-10-percent-layer, #{$borderColor});
}

.ytscript {

    &-button {
        display: block;
        margin: auto;
        border: none;
        color: #fff;
        text-decoration: none;
        background-color: var(--ytscript-component-button-active);
        padding: 5px 11px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: "Montserrat", Arial, sans-serif;
        letter-spacing: 0px;
        border-radius: 2px;
        text-align: center;
        position: relative;
        outline: none;
        -webkit-transition: background-color .1s ease;
        transition: background-color .1s ease;
        cursor: pointer;

        .fa {
            margin-right: 5px;
        }
    }

    &-button::after {
        -webkit-transition: background-color .2s ease;
        transition: background-color .2s ease;
        position: absolute;
        content: '';
        height: 3px;
        bottom: 0;
        width: 100%;
        background-color: hsla(0, 0, 0, 0.4);
        opacity: .18;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        left: 0
    }

    &-slider {

        &-volume {
            position: absolute;
            left: 10px;
            margin: 0;
            height: 4px;
            width: 125px;
            background: rgba(#fff, 0.2);
            border-radius: 15px;
            top: 50%;
            margin-top: -3px;

            .ui-slider-range-min {
                height: 4px;
                width: 125px;
                position: absolute;
                background: var(--ytscript-slider);
                border: none;
                border-radius: 10px;
                outline: none;
            }

            .ui-slider-handle {
                width: 13px;
                height: 13px;
                border-radius: 20px;
                background: #FFF;
                position: absolute;
                margin-left: -8px;
                margin-top: -5px;
                cursor: pointer;
                outline: none;
            }

            &-fullscreen {
                margin-top: -4px;
                height: 8px;

                .ui-slider-range-min {
                    height: 8px;
                }

                .ui-slider-handle {
                    width: 18px;
                    height: 18px;
                    margin-top: -6px;
                }
            }

            &-container {
                width: 145px;
                height: 100%;
                display: inline-block;
                position: relative;
                margin: 0 auto;
            }
        }

        &-trim {
            @extend .ytscript-slider-volume;
            left: 0;
            background-color: rgba(#000, 0.2);
            width: 100%;

            .ui-slider-range {
                height: 100%;
                position: absolute;
                background-color: var(--ytscript-component-slider);
            }

            .ui-slider-handle {
                background-color: var(--ytscript-slider-handle);
            }

            &-container {
                @extend .ytscript-slider-volume-container;
                height: 35px;
                display: block;
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }

    &-panel-main {
        overflow: hidden;

        .ytscript-container {
            background-color: var(--ytscript-background);
            color: var(--ytscript-input);
            height: 0;
            overflow-y: scroll;
            overflow-x: hidden;
            margin-right: -18px;
            max-height: 350px;
        }

        .component {
            &-menu {
                margin: 0;
                padding: 0;
                color: #4b4b4b;
                border-top: $border var(--ytscript-border);
                border-bottom: $border var(--ytscript-border);
            }

            &-menu:first-child {
                border-top: none;
            }

            &-menu:last-child {
                border-bottom: none;
            }

            &-menu:not(:last-child) {
                margin-bottom: $panelItemGap;
            }

            &-title {
                padding: 12px 10px;
                display: block;
                position: relative;
                color: #fff;
                text-transform: uppercase;
                background-color: var(--ytscript-component-title-background);
                cursor: default;
                user-select: none;

                .fa {
                    font-size: 18px;
                    margin-right: 2px;
                }

                span {
                    font-family: "Montserrat", Arial, sans-serif;
                    font-size: 18px;
                    font-weight: 300;
                    padding-left: 3px;
                }

                span.first {
                    color: var(--ytscript-component-title);
                }

                .hide {
                    background-color: transparent;
                    border: none;
                    padding: 3px 3px;
                    float: right;
                    outline: none;
                    color: var(--ytscript-component-button-inactive);
                    transition: transform 0.2s ease, color 0.2s ease;

                    .fa {
                        margin: 0;
                        padding: 0;
                    }

                    &.open {
                        transform: rotateZ(-450deg);
                        color: var(--ytscript-component-button-active);
                    }
                }
            }

            &-content {
                display: block;
                background-color: var(--ytscript-component-content);
                font-family: "Roboto", Arial, sans-serif;
                font-size: 15px;
                overflow: hidden;
                height: 0;
            }
        }

        .show-content {
            text-align: center;
            width: 100%;
            padding: 0;
            margin: 0;
            background-color: var(--ytscript-show-content);
            border: none;
            border-bottom-left-radius: $buttonBorderRadiusSize;
            border-bottom-right-radius: $buttonBorderRadiusSize;
            transition: background-color 0.25s ease;
            outline: none;
            cursor: pointer;

            .fa {
                font-size: 24px;
                color: #fff;
                transition: transform 0.4s ease-in-out;
            }

            &.open {
                .fa {
                    transform: rotateY(-540deg) rotateX(180deg);
                }
            }
        }
    }

    &-controls {

        &-volume {
            padding: 15px 20px;
            text-align: center;
        }

        &-trim {
            @extend .ytscript-controls-volume;

            .input-container {
                width: 100%;
                height: 30px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                input {
                    float: left;
                    display: block;
                    width: 100px;
                    text-align: center;
                    font-family: "Montserrat", Arial, sans-serif;
                    font-size: 15px;
                    position: relative;
                    color: var(--ytscript-input);
                    background-color: var(--ytscript-background);
                    border: $border var(--ytscript-border);

                    &:first-child {
                        left: -10px;
                    }

                    &:last-child {
                        right: -10px
                    }
                }
            }
        }
    }
}

[tooltip] {
    position: relative;
}

[tooltip] {

    &::before,
    &::after {
        text-transform: none;
        font-size: 14px;
        line-height: 1;
        user-select: none;
        pointer-events: none;
        position: absolute;
        display: none;
        opacity: 0;
    }

    &::before {
        content: '';
        border: 5px solid transparent;
        z-index: 1001;
    }

    &::after {
        content: attr(tooltip);
        font-family: Helvetica, sans-serif;
        text-align: center;
        min-width: 3em;
        max-width: 21em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 7px 0px;
        border-radius: .3ch;
        box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
        background: #333;
        color: #fff;
        z-index: 1000;
    }

    &:not([flow])::before,
    &[flow^="up"]::before {
        bottom: 100%;
        border-bottom-width: 0;
        border-top-color: #333;
    }

    &:not([flow])::after,
    &[flow^="up"]::after {
        bottom: calc(100% + 5px);
    }

    &:not([flow])::before,
    &:not([flow])::after,
    &[flow^="up"]::before,
    &[flow^="up"]::after {
        left: 50%;
        transform: translate(-50%, -.5em);
    }

    &[flow^="down"]::before {
        top: 100%;
        border-top-width: 0;
        border-bottom-color: #333;
    }

    &[flow^="down"]::after {
        top: calc(100% + 5px);
    }

    &[flow^="down"]::before,
    &[flow^="down"]::after {
        left: 50%;
        transform: translate(-50%, .5em);
    }

}

[tooltip=''] {

    &::before,
    &::after {
        display: none !important;
    }
}

@keyframes tooltips-vert {
    to {
        opacity: .9;
        transform: translate(-50%, 0);
    }
}

[tooltip]:hover::before,
[tooltip]:hover::after,
.ui-state-active[tooltip]::before,
.ui-state-active[tooltip]::after {
    display: block;
}

.ui-state-active[tooltip]:not([flow])::before,
.ui-state-active[tooltip]:not([flow])::after,
.ui-state-active[tooltip][flow^="up"]::before,
.ui-state-active[tooltip][flow^="up"]::after,
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}